---
---

@import "minimal-light";

.custom-nav {
  text-align: center;
  margin: 0 auto;
  padding: 1rem 0;
  font-size: 1.25rem;
  font-family: Georgia, serif;
  position: relative;
  top: 0;
}

.custom-nav .page-link {
  color: #003366;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

.custom-nav .page-link:hover {
  text-decoration: underline;
}

.wrapper > header {
  margin-top: 0;
  padding-top: 0;
}
