---
---

@import "minimal-light";

.custom-nav {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.25rem; /* larger text */
  font-family: Georgia, serif; /* to match "About Me", if that's using a serif */
}

.custom-nav .page-link {
  color: #003366; /* match your site's headline blue */
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

.custom-nav .page-link:hover {
  text-decoration: underline;
}
